body {
    background-color: rgb(109, 108, 108);
}

.container {
    font-size: 40px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    background: linear-gradient(90deg rgb(53, 47, 47), rgb(143, 143, 143));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 2fr 100px;
    grid-gap: 10px;
    grid-template-areas: "header" "advert" "content" "content" "footer";
}

@media (min-width: 300px) {
    .container {
        grid-template-columns: auto 1fr;
        grid-template-rows: 100px 1fr 1fr auto;
        grid-template-areas: "advert header" "advert content" "advert content" "advert footer";
    }
}

@media (min-width: 400px) {
    .container {
        grid-template-areas: "header header" "advert content" "advert content" "footer footer";
    }
}

.item1 {
    background: rgb(131, 131, 131);
    grid-area: header;
}

.item2 {
    background: gray;
    grid-area: advert;
}

.item3 {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.itemOne {
    background: azure;
    display: grid;
    grid-template-rows: 60% 40%;
}

.itemTwo {
    background: antiquewhite;
}

#img-caption {
    background: darkgray;
}

#image {
    background: rgb(126, 125, 125);
    max-width: 50%;
    max-height: auto;
}

.fullCard {
    float: right;
    background-color: #00acee;
    color: white;
    border: none;
    outline: none;
    padding: 15px 15px;
    margin: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.header-position {
    display: flex;
    grid-area: footer;
}

header .profile-name {
    display: flex;
    padding-right: 5px;
    flex-direction: column;
    justify-content: space-evenly;
}

header h3, header h4 {
    display: flex;
    margin: auto;
    vertical-align: middle;
    text-align: justify;
    position: relative;
}

header .follow-btn {
    display: flex;
    position: relative;
}

.item5 {
    text-align: center;
    padding: 3px;
    background-color: #555555;
    color: white;
    grid-area: footer;
}