body {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: hsl(0, 0%, 100%);
    font-size: 40px;
    font-weight: 100;
    text-transform: capitalize;
}

.name {
    background: #404242;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: hsl(0, 0%, 100%);
    font-family: Amatic;
    font-size: 50px;
    font-weight: 100;
    text-transform: capitalize;
    vertical-align: middle;
    text-align: center;
}

.mainName {
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

.profeccionName {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#image {
    width: 35%;
    height: auto;
    margin: 20px auto 20px;
    display: flex;
    margin: auto;
    vertical-align: middle;
    text-align: justify;
    position: relative;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#img-caption {
    margin: 20px auto 20px;
    vertical-align: middle;
    font-size: 30px;
    font-family: Amatic;
    text-align: center;
    position: relative;
}

ul, h3 {
    margin: 20px auto;
    vertical-align: middle;
    font-size: 30px;
    font-family: Amatic;
    text-align: center;
    position: relative;
}

li {
    list-style-position: inside;
    list-style-type: none;
}

.fullCard {
    float: right;
    background-color: #00acee;
    color: white;
    border: none;
    outline: none;
    padding: 15px 15px;
    margin: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.header-position {
    display: flex;
}

header .profile-name {
    display: flex;
    padding-right: 5px;
    flex-direction: column;
    justify-content: space-evenly;
}

header h3, header h4 {
    display: flex;
    margin: auto;
    font-size: 20px;
    vertical-align: middle;
    text-align: justify;
    position: relative;
}

header .follow-btn {
    display: flex;
    position: relative;
}